.magnifier-icon{
    position: absolute;
    top: 7.05rem;
    left:20.35rem;

    font-size: 0.8rem;

    //background-color: black;
}

#search-movies{
    padding-left: 2.25rem;
    padding-bottom: 0.5rem;

    height: 2.75rem;

    font-size: 0.85rem;

    vertical-align: middle;
}