<section class="home-component">

    <div class="above-banner">
        <h1 class="font-36 work-sans d-flex font-bold">
            Crie sua lista de filmes
        </h1>
    
        <p>
            Salve seus filmes favoritos e fique por dentro de todos os detalhes.
        </p>
    
        <app-common-router-button>
            <ng-container content>
                Ver filmes
            </ng-container>
        </app-common-router-button>
    </div>

    <img class="banner rounded-3 w-100" src="../../../assets/images/home-banner.png">

    <h1 class="font-36 work-sans d-flex">
        Seus Filmes Favoritos
    </h1>

    <!-- getMoviesByName().length > 0 -->
    @if(true)
    {
       
                    
        <app-white-card class="d-flex justify-content-center">
            <ng-container content>
                
                  <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="movies d-flex flex-wrap justify-content-center w-100">
                                @for (movie of getFavoritesMovies().slice(0,4); track $index) 
                                {
                                    <app-movie-card [movie]="movie"/>
                                }
                            </div>
                        </div>

                        @for (i of getFavoritesMovies().slice((getFavoritesMovies().length / 4)); track $index) 
                        {
                            <div class="carousel-item">
                                <div class="movies d-flex flex-wrap justify-content-center w-100">
                                    @for (movie of getFavoritesMovies().slice((getFavoritesMovies().length - 4)/4); track $index) 
                                    {
                                        <app-movie-card [movie]="movie"/>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>





















            </ng-container>
        </app-white-card>

















                








    }
    @else 
    {
        <div class="movie-not-found d-flex flex-column align-items-center justify-content-center">
            <p>{{"moviesPage.noListedMovies" | translate}}</p>
        </div>
    }

</section>