<section class="home-component">

    <div class="above-banner rounded-3">
        <h1 class="font-36 work-sans d-flex font-bold">
            {{"home.createYourList" | translate}}
        </h1>
    
        <p>
            {{"home.saveYourMovies" | translate}}
        </p>
    
        <div class="w-25">
            <app-common-router-button className="white" router="/movies">
                <ng-container content>
                    {{"home.seeMovies" | translate}}
                </ng-container>
            </app-common-router-button>
        </div>
    </div>

    <div class="banner"></div>

    <h1 class="font-36 work-sans d-flex">
        {{"home.yourFavoriteMovies" | translate}}
    </h1>

    <!-- getMoviesByName().length > 0 -->
    @if(getUser())
    {    
        @if(getFavoritesMovies())
        {
            <app-white-card class="d-flex justify-content-center">
                <ng-container content>
                      <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="movies d-flex flex-wrap justify-content-center w-100">
                                    @for (movie of getFavoritesMovies().slice(0, movieSlice); track $index) 
                                    {
                                        <app-movie-card [movie]="movie"/>
                                    }
                                </div>
                            </div>
    
                            @for (i of getFavoritesMovies().slice((this.getFavoritesMovies().length - movieSlice) / movieSlice); track $index) 
                            {
                                <div class="carousel-item">
                                    <div class="movies d-flex flex-wrap justify-content-center w-100">
                                        @for (movie of getFavoritesMovies().slice((($index * movieSlice) + movieSlice), ($index * movieSlice) + (movieSlice * 2)); track $index) 
                                        {
                                            <app-movie-card [movie]="movie"/>
                                        }
                                    </div>
                                </div>
                            }
    
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </ng-container>
            </app-white-card>
        }
        @else
        {
            <p>Adicione um Filme</p>
        }
    }
    @else 
    {
        <div class="movie-not-found d-flex flex-column align-items-center justify-content-center">
            <p>{{"moviesPage.noListedMovies" | translate}}</p>
        </div>
    }

</section>