nav
{
  top:0;
}

.botao-remover:hover
{
  background-color: red;
}

.continuar-pagamento:hover
{
  background-color: blue;
}

.navbar
{
  z-index: 1000;
}

.ola-usuario
{
  position: relative;
  top:8px;
  padding-right:0.5em;
}

.formulario-login
{
  width: 40em;;
}

#erro-login,
.aviso-campo-obrigatorio
{
  color:red;
}




@media (max-width:574px)
{
  .formulario-login
  {
    width: 100%;;
  }
}