body
{
    background-color:black;
}

h1, h2, h3, h4, h5, h6
{
    background-color: red;
}

a, p
{
    background-color:white;
}

header, main, footer, div, span, section, article, nav
{
    background-color:green;
}

table, ul, ol
{
    background-color: cyan;
}

form, textarea, button, input
{
    background-color: yellow;
}

img
{
    background-color: gray;
    /*background-colo:green !important*/
    /*!important sobrepoem até o style*/
}

























































