*
{
    border:0;
    margin:0;
    padding:0;

    color:white;
}

.center
{
    text-align:center;

    /* Centralizar verticalmente, foi o gpt q fez */
    display: flex;
    justify-content: center;
    align-items: center;
}

header
{
    background-color: gray;

    width: 100%;
    height: 30px;

    /* 
        É como se ambas ocupassem um lugar no html, mas são exibidas em posições
        diferentes, o relative fica deslocado mas ainda obedece ao scroll da tela,
        enqanto o fixed não, fica no mesmo lugar sempre
    */
    position:fixed;
    top:0;
    left:0;
}

.caixa-1
{
    background-color: red;

    margin-top:30px;

    width: 100px;
    height:100px;

    /* Quando é estatico, não muda sua posição */
    position:static;
    top:100px;
    left:20px;
}

.caixa-2
{
    background-color: green;

    width:75px;
    height:125px;

    position: static;
}

.caixa-3
{
    background-color: blue;

    width:300px;
    height:175px;

    position: static;
}

.caixa-4
{
    background-color: brown;

    width:150px;
    height:150px;

    /* 
        É como se o espaço dela ainda fosse o original, mas o que é mostrado na tela é 
        uma leve deslocação da caixa
    */
    position:relative;
    top:20px;
    left:30px;
}

.caixa-5
{
    background-color:darkorchid;

    width:250px;
    height:150px;

    position: static;
}


.caixa-6
{
    background-color:black;

    width:250px;
    height:150px;


    position: relative;

    top:50px;
    left:50px;
}

.caixa-7
{
    background-color:aqua;

    width:200px;
    height:100px;

    position: absolute;

    top:680px;
    left:400px;
}

/*
- O Estático se mantém na exata posição que foi colocada

- O Relativo também é colocado em uma posição colocada, mas tem a liberdade de mexer
o quanto quiser para os lados

- O Absoluto tem a liberdade de colocar onde quiser sem comprometer sua posição
inicial, não é como o relativo, que está em um lugar, mas visualmente em outro, ele
realmente está onde está, mas não fixo, pois obedece o scroll da página

- O Fixed tem a mesma liberdade do absoluto, com a diferença de que
não obedece ao scroll da página
*/

.caixa-8
{
    background-color:fuchsia;

    width:300px;
    height:300px;

    position: fixed;

    top:160px;
    left:450px;
}