<app-bread-crumb>
    <ng-container breadCrumb>
        Filmes
    </ng-container>
</app-bread-crumb>

<app-title>
    <ng-container title>
        Filmes
    </ng-container>
</app-title>

<app-search-area>
</app-search-area>

<p class="listed-movies work-sans pt-2">
    {{this.GetMoviesService.getAllMoviesCount()}} Filmes Catalogados
    
    - 

    @if(GetMoviesService.getSearch() == "")
    {
        {{GetMoviesService.getLength()}} Filme@if(GetMoviesService.getLength() != 1){s} Listado@if(GetMoviesService.getLength() != 1){s}
    }
    @else 
    {
        {{this.GetMoviesService.getMoviesCount()}} 
        Filme@if(this.GetMoviesService.getMoviesCount() != 1){s}
        Listado@if(this.GetMoviesService.getMoviesCount() != 1){s}
    }
</p>

<app-white-card>
    <ng-container content>
        <div class="movies d-flex flex-wrap w-100">
            <!-- Limitar a lista, ao apertar ver mais, ir aumentando este limite -->
            @for (movie of GetMoviesService.getMoviesByName(this.GetMoviesService.getSearch()).slice(0,GetMoviesService.getLength()); track $index) 
            {
                <app-movie-card [movie]="movie" (EventEmitterMovie)="this.GetMoviesService.updateMovie(movie)"></app-movie-card>
            }
        </div>
    </ng-container>
</app-white-card>

<section class="see-more d-flex justify-content-center pt-4 w-100">
    <app-common-button [className]="'blue border-6 see-more-movies'" >
        <ng-container content>
            Ver Mais
            <i class="bi bi-arrow-down"></i>
        </ng-container>
    </app-common-button>
</section>