<section class="movies-component">

<app-bread-crumb />

<app-title>
    <ng-container title>
        Filmes
    </ng-container>
</app-title>

<app-search-area />

<p class="listed-movies work-sans pt-2">
    Filmes Catalogados - 
    Filme Listados
</p>

<app-white-card class="d-flex justify-content-center">
    <ng-container content>
        <div class="movies d-flex flex-wrap justify-content-center w-100">
            <!-- Limitar a lista, ao apertar ver mais, ir aumentando este limite -->

            @for (movie of getMoviesByName(); track $index) 
            {
                <app-movie-card [movie]="movie" (eventEmitterMovie)="setLikedMovies($event)" />
            }
            
        </div>
    </ng-container>
</app-white-card>

@if(haveMoviesToGet())
{
    <section class="see-more d-flex justify-content-center pt-4 w-100">
        <app-common-action-button className="blue border-6 see-more-movies" [function]="increaseMovieLength">
            <ng-container content>
                
                Ver Mais <i class="bi bi-arrow-down"></i>
                
            </ng-container>
        </app-common-action-button>
    </section>
}

</section>