body
{
    width: 100%;
}

.cor-padrao
{
    background-color: rgb(0, 122, 204);
    color:white;
}

nav
{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: aliceblue;
    width:100%;
    padding:0.5em;

    z-index:1000;

    border-bottom: 1px solid rgb(0, 122, 204);
}

nav a
{
    color:black;
    text-decoration:none;
    padding-right: 1em;
}

header
{
    width: 100%;

    padding-top:5em;
    padding-bottom:2.25em;

}

header a
{
    color:white;
    text-decoration:none;
}

main
{
    min-height: 100vh;
}

.foto-perfil img
{
    width:200px;
    height:200px;
}

.descricao
{
    text-align: justify;
}

.projetos
{
    display: flex;
    flex-wrap: wrap;
}

.projetos .card
{
    margin-right: 1em;
    margin-bottom: 1em;
    width: 47%;
}

footer
{
    padding: 1em;
    width: 100%;
}

.icones
{
    padding-top: 10px;
}

.icones img
{
    height: 40px;
    filter:saturate(0);

    transition: filter 0.5s ease;
}

.icones img:hover
{
    filter:saturate(100%);
}

.formulario-projeto form
{
    width: 42em;
}

.formulario-projeto-datas span
{
    width: 11em;
}

@media (max-width: 991px) 
{
    .foto-perfil
    {
        text-align: center;
    }

    .projetos .card
    {
        width: 100%;
    }

    .icones img
    {
        height: 60px;
    }
}

@media (max-width: 768px)
{
    nav
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav p
    {
        padding: 0;
        margin: 0;

        text-align: left;
    }

    .header-fix
    {
        padding-top:28px;
    }

    header h2
    {
        right:40px;
    }
}





