<nav class="nav-menu d-flex flex-column">
    <div class="p-3 position-fixed">
        <app-profile>
        </app-profile>

        <div class="pt-4 ">
            <button class="btn is-in-page"><div>Início</div></button>
        </div>
        
        <div class="pt-3 ">
            <p>Filmes</p>
        </div>
        

        <div class="pt-4 ">
            <a class="">Configurações</a>
        </div>
        
        <div class="pt-3 ">
            <p>Sair</p>
        </div>
    </div>
</nav>