<div class="container-fluid d-flex justify-content-center">
    <form class="" id="new-guest" [formGroup]="reservationFormGroup" (ngSubmit)="submitReservation()">
        <legend>
            @if (guest)
            {
                Editar Reserva de {{guest.name}} | {{guest.document | mask:"000.000.000-00"}}
            }
            @else 
            {
                Registrar Nova Reserva
            }
        </legend>
        
        <div class="pt-2">
            <label for="guestId">Hóspede:</label>
            
            <!-- multiple="" size="4" -->
            <select class="form-select border-1 border-primary" id="guestId" formControlName="guestId" [(ngModel)]="guestIdModel"> 
                @for (guest of guests; track $index)
                {
                    <option [value]="guest.id">{{guest.document | mask:'000.000.000-00'}} - {{guest.name}}</option>
                }
            </select>
    
            <p class="text-danger m-0" *ngIf="reservationFormGroup.get('guestId')?.invalid && reservationFormGroup.get('guestId')?.touched">
                Escolha um Hóspede
            </p>
        </div>
    
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-column flex-sm-row w-100">
                <div class="pt-2 pe-0 pe-sm-2  w-100">
                    <label for="checkIn">checkIn:</label>
                    
                    <input class="form-control border-1 border-primary" id="checkIn" [value]="reservation?.checkIn" type="date" name="checkIn" formControlName="checkIn" [(ngModel)]="checkInModel">
                    
                    <p class="text-danger m-0" *ngIf="reservationFormGroup.get('checkIn')?.invalid && reservationFormGroup.get('checkIn')?.touched">
                        Digite uma data válida
                    </p>
                </div>
        
                <div class="pt-2 pe-0 ps-sm-2 pe-sm-0 pe-md-2 w-100">
                    <label for="checkOut">checkOut:</label>
                    
                    <input class="form-control border-1 border-primary" id="checkOut" [value]="reservation?.checkOut" type="date" name="checkOut" formControlName="checkOut" [(ngModel)]="checkOutModel">
                    
                    <p class="text-danger m-0" *ngIf="reservationFormGroup.get('checkOut')?.invalid && reservationFormGroup.get('checkOut')?.touched">
                        Digite uma data válida
                    </p>
                </div>
            </div>
            
    
            <div class="pt-2 pe-0 pe-md-3 ps-md-2 w-100">
                <label for="roomType">Tipo de Quarto:</label>
                
                <select class="form-select border-1 border-primary" id="roomType" formControlName="roomType" [(ngModel)]="roomTypeModel">
                    @for (room of roomsAvailable; track $index)
                    {
                        <p>{{room.amount}} {{roomsCont[room.id]}}</p>
                        <option [value]="room.id">{{room.amount - roomsCont[room.id]}} - {{room.name}}</option>
                    }
                </select>
            </div>
    
            <div class="pt-2 w-100">
                <label for="numberOfGuests">Nº de Hóspedes:</label>
                
                <select class="form-select border-1 border-primary" id="numberOfGuests" formControlName="numberOfGuests" [(ngModel)]="numberOfGuestsModel">
                    @for (option of generateNumberOfGuestsFor(roomTypeModel); track $index)
                    {
                        <option [value]="option">{{option}}</option>
                    }
                </select>
            </div>
        </div>
    
        <div class="pt-2">
            <label for="remarks">Observações: <span class="text-gray">(Opcional)</span></label>
            
            <input class="form-control border-1 border-primary" id="remarks" [value]="reservation?.remarks" type="text" name="remarks" formControlName="remarks" [(ngModel)]="remarksModel">
            
            <p class="text-danger m-0" *ngIf="reservationFormGroup.get('remarks')?.invalid && reservationFormGroup.get('remarks')?.touched">
                Digite uma Observação com pelo menos 3 caracteres
            </p>
        </div>

        @if (id != "null")
        {
            <div class="pt-2">
                <label for="status">Status:</label>
                
                <input class="form-control border-1 border-primary" id="status" [value]="reservation?.status" type="text" name="status" formControlName="status" [(ngModel)]="statusModel">
                
                <p class="text-danger m-0" *ngIf="reservationFormGroup.get('status')?.invalid && reservationFormGroup.get('status')?.touched">
                    Digite uma Observação com pelo menos 3 caracteres
                </p>
            </div>
        }
    
        <button class="btn btn-primary mt-2" type="submit">
            @if(reservation)
            {
                Editar Reserva
            }
            @else 
            {
                Registrar Reserva
            }
        </button>
    
    </form>
</div>
