.buttons button
{
  width:3rem;
  height:3rem;

  margin:2px;
  border:1px solid gray;
  border-radius: 3px;
}

.buttons
{
  width: 14rem;
}

.buttons .two-buttons-size
{
  width: 6.25rem;
}

.buttons .three-buttons-size
{
  width: 9.5rem;
}
