<!-- Detalhes da Reserva -->
@if(id)
{
    @if (reservation)
    {
        <div class="container">
            <legend class="row">Hóspede</legend>

            <div class="row border border-1 p-2">
                <div class="col">
                    <b>ID</b>
                 </div>
    
                <div class="col">
                   <b>Nome</b>
                </div>
            
                <div class="col">
                    <b>Email</b>
                </div>
            
                <div class="col">
                    <b>Telefone</b>
                </div>
            
                <div class="col">
                    <b>CPF</b>
                </div>
            </div>
    
            @if (guest)
            {
                <div class="row border border-1 p-2">
                    <div class="col">
                        {{guest.id}}
                    </div>
        
                    <div class="col">
                        {{guest.name}}
                    </div>
            
                    <div class="col">
                        {{guest.email}}
                    </div>
            
                    <div class="col">
                        {{guest.phone}}
                    </div>
            
                    <div class="col">
                        {{guest.document}}
                    </div>
                </div>
            }
        </div>
        
        

        <div class="container">
            <legend class="row pt-4">Reserva</legend>

            <div class="row border border-1 p-2">
                <div class="col">
                   <b>ID</b>
                </div>
            
                <div class="col">
                    <b>checkIn</b>
                </div>
            
                <div class="col">
                    <b>checkOut</b>
                </div>
            
                <div class="col">
                    <b>Tipo de Quarto</b>
                </div>

                <div class="col">
                    <b>Nº de Hóspedes</b>
                </div>
            
                <div class="col">
                    <b>Observação</b>
                </div>
            
                <div class="col">
                    <b>Status</b>
                </div>
            </div>
    
            <div class="row border border-1 p-2">
                <div class="col">
                    {{reservation.id}}
                </div>
    
                <div class="col">
                    {{reservation.checkIn}}
                </div>
        
                <div class="col">
                    {{reservation.checkOut}}
                </div>
        
                <div class="col" [ngClass]="
                {
                    'text-primary' : reservation.roomType == '0',
                    'text-success' : reservation.roomType == '1',
                    'text-purple' : reservation.roomType == '2'
                }">
                    @if(reservation.roomType == "0")
                    {
                        Comum
                    }
        
                    @if(reservation.roomType == "1")
                    {
                        Deluxe
                    }
        
                    @if(reservation.roomType == "2")
                    {
                        Suíte
                    }
                </div>

                <div class="col">
                    {{reservation.numberOfGuests}}
                </div>
    
                <div class="col">
                    {{reservation.remarks}}
                </div>
        
                <div class="col" [ngClass]="
                    {
                        'text-danger' : reservation.status == 'Cancelado',
                        'text-warning' : reservation.status == 'Pendente',
                        'text-success' : reservation.status == 'Confirmado'
                    }">
    
                    {{reservation.status}}
                </div>
            </div>

            <button class="row btn btn-primary me-4 mt-3" routerLink="/reservationsForm/{{reservation.id}}">
                Editar
            </button>
    
            <button class="row btn btn-danger mt-3" (click)="deleteReservation($event, reservation)">
                Deletar
            </button>
        </div>
    }
    @else
    {
        <legend class="text-center">Não existe nenhuma reserva com este ID</legend>
    }
}
<!-- Tabela completa -->
@else
{


<div class="container">
    <legend class="row">Reservas</legend>

    <div class="row border border-1 p-2">
        <div class="col">
           <b>Nome</b>
        </div>
    
        <div class="col">
            <b>checkIn</b>
        </div>
    
        <div class="col">
            <b>checkOut</b>
        </div>
    
        <div class="col">
            <b>Tipo de Quarto</b>
        </div>

        <div class="col">
            <b>Nº de Hóspedes</b>
        </div>
    
        <div class="col">
            <b>Status</b>
        </div>
    
        <div class="col">
            <b>Ações</b>
        </div>
    </div>
    
    @for (reservation of reservations; track $index) 
    {
        <div class="row row-item border border-1 p-2" role="button" routerLink="/reservations/{{reservation.id}}">
    
            @if(guestsReservations[$index])
            {
                <div class="col">
                    {{guestsReservations[$index].name}}
                </div> 
            }
            
            <div class="col">
                {{reservation.checkIn}}
            </div>
    
            <div class="col">
                {{reservation.checkOut}}
            </div>

            <div class="col" [ngClass]="
                {
                    'text-primary' : reservation.roomType == '0',
                    'text-success' : reservation.roomType == '1',
                    'text-purple' : reservation.roomType == '2'
                }">
                    @if(reservation.roomType == "0")
                    {
                        Comum
                    }
        
                    @if(reservation.roomType == "1")
                    {
                        Deluxe
                    }
        
                    @if(reservation.roomType == "2")
                    {
                        Suíte
                    }
            </div>
    
            <div class="col">
                {{reservation.numberOfGuests}}
            </div>
        
            <div class="col" [ngClass]="
            {
                'text-danger' : reservation.status == 'Cancelado',
                'text-warning' : reservation.status == 'Pendente',
                'text-success' : reservation.status == 'Confirmado'
            }">
                {{reservation.status}}
            </div>
    
            <div class="col action-buttons" (click)="$event.stopPropagation()" routerLink="/reservationsForm/{{reservation.id}}">
                <button class="btn text-primary">
                    <i class="bi bi-pen"></i>
                </button>
                
                <button class="btn text-danger" (click)="deleteReservation($event, reservation)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        </div>
    }
</div>
}