header
{
    background-color:bisque;
    padding: 1em;
    margin-bottom:10px;
}

.cartao
{
    width: 400px;
    padding: 10px;
    padding-bottom: 0;
    
    border:2px solid black;
    border-radius: 5px;

    margin:5px;
}

.cartao textarea
{
    width: 100%;
    border:2px solid black;
    border-radius: 5px;
}

.cartao .titulo
{
    height: 30px;
    margin-top:2px;
    margin-bottom:10px;
}

.cartao .descricao
{
    height: 100px;
    margin-bottom:10px;
}

#adicionar
{
    width: 100%;
    margin:5px;
}

#adicionar button
{
    border:1px solid transparent;
    background-color: transparent;
    color:black;

    padding:0;
    border-radius:500px;

    transition: background-color 0.25s ease, 
                color 0.25s ease, transform 0.25s ease;
    
}

#adicionar button:hover
{
    transform:scale(1.1);
    background-color: green;
    color:lightgreen;
}

.opcoes
{
    margin-bottom:10px;
}

.editar
{
    width: 50%;
}

.excluir
{
    width: 50%;
}