*
{
    border:0;
    margin:0;
    padding:0;
}

.center
{
    text-align:center;
}

.borda
{
    height: 30px;
    border:1px solid black;
    border-radius: 4px;
    background-color: white;
}

body
{
    background-image: url('Images/estudante.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;

    font-weight: 200;
    font-size: 18px;
    font-style: normal;
}

.fundo-branco
{
    top:0;
    z-index:-5;
    position: fixed;
    width: 100%;
    height:100%;
    background:transparent;
}

main
{
    display: flex;
    justify-content: center;
    padding: 1em;
}

form
{
    background: rgba(255,255,255,0.8);

    width: 265px;

    border:1px solid black;
    border-radius: 6px;
    padding: 1em;
}

form > div
{
    text-align: left;
    margin-bottom: 10px;
}

input
{
    padding-left: 4px;

    width: 100%;
}

input:focus 
{ 
    outline: 1px solid blue;
    box-shadow: 1px 1px 5px 1px blue;
}

.colunas
{
    display: flex;
    width: 15em;
}

.colunas input
{
    width: 90%;
}

.botao-enviar
{
    padding: 7px;
    border: 1px solid black;

    transition: background-color 0.25s ease, color 0.25s ease;
}

.botao-enviar:hover
{
    background-color: blue;
    color:white;
}

@media(max-width:350px)
{
    .fundo-branco
    {
        background: rgba(255,255,255,0.8);
    }

    main
    {
        padding: 0;
    }

    form
    {
        background: transparent;

        border:1px solid transparent;
        border-radius: 0px;
    }

    .botao-enviar
    {
        background-color: blue;
        color:white;
    }
}