

<header class="p-1 w-100">
    <h1 class="text-center ">Gestão de Hotéis</h1>
</header>

<nav class="d-flex justify-content-center flex-wrap pt-1 pb-3">
    <button class="me-2 mt-2" routerLink="/guests" routerLinkActive="active">Hóspedes</button>
    <button class="me-2 mt-2" routerLink="/reservations" routerLinkActive="active">Reservas</button>
    <button class="me-2 mt-2" routerLink="/guestsForm" routerLinkActive="active">Registrar Hóspede</button>
    <button class="mt-2" routerLink="/reservationsForm" routerLinkActive="active">Registrar Reserva</button>
</nav>

<router-outlet/>

