nav
{
  top:0;
}

.botao-remover:hover
{
  background-color: red;
}

.continuar-pagamento:hover
{
  background-color: blue;
}

.navbar
{
  z-index: 1000;
}

.ola-usuario
{
  position: relative;
  top:8px;
  padding-right:0.5em;
}

.formulario-login
{
  width: 40em;;
}

#erro-login,
.aviso-campo-obrigatorio
{
  color:red;
}

#pesquisar-pokemon
{
  width: 25rem;
}

.pokemon-imagem
{
  height: 10rem;
  margin: 0.25rem;
/* 
  border-radius: 50em;
  border:2px solid black;

  box-shadow: 0 4px 4px gray;
  background-color: white;
  transition: transform 0.1s ease;
 */
}

/* 
.pokemon-imagem:hover
{
  transform: scale(1.25);
}
 */

@media (max-width:574px)
{
  .formulario-login
  {
    width: 100%;;
  }
}
