.movie-card{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width:16rem;
}

.movie-image{
    height: 21.75rem;
    width: 14.44rem;
}

.heart-button:active{
    border:1px solid transparent;
}