<main class="p-4">
    <app-search-area [movieCount]="movieCount">
        
    </app-search-area>

    <section class="movies d-flex flex-wrap ">
        <!-- Cards de Filmes serão colocados aqui -->

        <!-- Fazer um função que gera uma nova lista apenas com os filmes filtrados -->
        @for (movie of GetMoviesService.getMovies(); track $index) 
        {
            <app-movie-card [movie]="movie" (EventEmitterMovie)="setLikedState($event)">
            </app-movie-card>
        }
    </section>
    
    <section class="text-center pt-4">
        <button class="see-more btn p-2">
            Ver Mais 
            <i class="bi bi-arrow-down"></i>
        </button>
    </section>
</main>