.image-border{
    width: 100%;
    border-radius: 0.625rem;
}

body{
    background-color: #EFEFEF;
}

.button-movie{
    background-color:white;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;

    transition: 
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
    ;
}

//Azul Claro
.is-active,
.button-movie-blue,
.button-movie:hover{
    background-color:#1D4ED8;
    color:white;
}

//Azul Escuro
.is-active:hover,
.button-movie-blue:hover,
.button-movie:active{
    background-color:#1843bb;
}

.work-sans{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-bold{
    font-weight: 600;
}




.font-12{
    font-size: 0.75rem;
}

.font-14{
    font-size: 0.875rem;
}

.font-18{
    font-size: 1.125rem;
}

.font-20{
    font-size: 1.25rem;
}

.font-24{
    font-size: 1.5rem;
}

.font-36{
    font-size: 2.25rem;
}
