<app-header>
    <ng-container headerIndex>
        Inicio - Filmes - <b>Detalhes do Filme</b>
    </ng-container>

    <ng-container headerActualIndex>
        {{movie?.name}}
    </ng-container>
</app-header>

<div class="d-flex flex-sm-row flex-column">
    <!-- Imagem -->
    <app-white-card class="movie-detail-image">
        <ng-container content>
            <div class="d-flex flex-column">
                <img src="{{movie?.image}}" class="image-border">

                <div class="d-flex">
                    <button class="button-movie button-movie-blue"><i class="bi bi-star-fill text-warning"></i> 9.4</button>
                    <div>
                        <p>Dirigido por <b>Ben Wheatley</b></p>
                        <p>Lançado em 3 de agosto de 2023</p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-around">
                    <!-- @for (item of items; track $index) {} -->
                    <button class="button-movie button-movie-blue">Ação</button>
                    <button class="button-movie button-movie-blue">Ação</button>
                    <button class="button-movie button-movie-blue">Ação</button>
                </div>
            </div>
            
        </ng-container>
    </app-white-card>
    <!-- Imagem -->

    <!-- Atores e Sinopse -->
    <div class="d-flex flex-column">

        <!-- Atores -->
        <app-white-card class="ps-3 pb-4">
            <ng-container content>
                <div class="d-flex flex-column p-2">
                    <h4 class="work-sans font-24 font-bold pb-3">
                        Elenco
                    </h4>
    
                    <!-- @for (item of items; track $index) {} -->
                    <app-actor-card></app-actor-card>
                    <app-actor-card></app-actor-card>
                    <app-actor-card></app-actor-card>
                </div>
            </ng-container>
        </app-white-card>
        <!-- Atores -->

        <!-- Sinopse -->
        <app-white-card class="ps-3">
            <ng-container content>
                <h3 class="work-sans font-24 font-bold">Sinopse</h3>
                <p>
                    
                    Um mergulho exploratório nas profundezas do oceano de uma ousada equipe de pesquisa se transforma em caos quando uma operação de mineração malévola ameaça sua missão e os força a uma batalha de alto risco pela sobrevivência.

                </p>
            </ng-container>
        </app-white-card>
        <!-- Sinopse -->
    </div>
</div>