.movie-details-component{
    color:var(--text-default-color);
}

.movie-detail-image{
    padding-right:1rem;
    width: 100%;
}

.movie-detail-image img{
    width: 40%;
}

.movie-detail-actors{
    padding-left:1rem;
    width: 100%;
}

.star-badge{
    width: 8rem;
    height: 4.25rem;
}

.badges-genres{
    margin-left:-0.1rem;
    margin-right:-0.1rem;
}

.gender-badge{
    height: 3rem;
    margin-left:0.1rem;
    margin-right:0.1rem;
}

@media (max-width:576px)
{
    .movie-detail-image{
        padding-right:0;
        padding-bottom:1;
    }

    .movie-detail-actors{
        padding-left:0;
        padding-top:1;
    }
}