<app-header>
    <ng-container headerIndex>
        Inicio - Filmes
    </ng-container>

    <ng-container headerActualIndex>
        Filmes
    </ng-container>
</app-header>

<app-search-area>
</app-search-area>

<app-white-card >
    <ng-container content class="movies">
        <!-- Limitar a lista, ao apertar ver mais, ir aumentando este limtite -->
        @for (movie of GetMoviesService.getMoviesByName(this.GetSearchMoviesService.getSearch()); track $index) 
        {
            <app-movie-card [movie]="movie" (EventEmitterMovie)="setLikedState($event)"></app-movie-card>
        }
    </ng-container>
</app-white-card>

<section class="text-center pt-4">
    <button class="see-more btn p-2">
        Ver Mais
        <i class="bi bi-arrow-down"></i>
    </button>
</section>