.movies{
    padding-top: 1.75rem;
}

.see-more{
    background-color: #1D4ED8;
    color:white;

    width: 8rem;
}

.see-more:hover{
    background-color: #1a48c7;
}

.see-more:active{
    color:white;
}