<!-- Detalhes da Reserva -->
@if(id != "null")
{
    @if (reservation)
    {
        <div class="container">
            <legend class="row">Hóspede</legend>

            <div class="row border border-1 p-2">
                <div class="col">
                    <b>ID</b>
                 </div>
    
                <div class="col">
                   <b>Nome</b>
                </div>
            
                <div class="col">
                    <b>Email</b>
                </div>
            
                <div class="col">
                    <b>Telefone</b>
                </div>
            
                <div class="col">
                    <b>CPF</b>
                </div>
            </div>
    
            @if (guest)
            {
                <div class="row border border-1 p-2">
                    <div class="col">
                        {{guest.id}}
                    </div>
        
                    <div class="col">
                        {{guest.name}}
                    </div>
            
                    <div class="col">
                        {{guest.email}}
                    </div>
            
                    <div class="col">
                        @if(guest.phone.length == 11)
                        {
                            {{guest.phone | mask:"(00) 00000-0000"}}
                        }
                        @else 
                        {
                            {{guest.phone | mask:"(00) 0000-0000"}}
                        }
                    </div>
            
                    <div class="col">
                        {{guest.document}}
                    </div>
                </div>
            }
        </div>
        
        

        <div class="container">
            <legend class="row pt-4">Reserva</legend>

            <div class="row border border-1 p-2">
                <div class="col">
                   <b>ID</b>
                </div>
            
                <div class="col">
                    <b>checkIn</b>
                </div>
            
                <div class="col">
                    <b>checkOut</b>
                </div>
            
                <div class="col">
                    <b>Tipo de Quarto</b>
                </div>

                <div class="col">
                    <b>Nº de Hóspedes</b>
                </div>
            
                <div class="col">
                    <b>Observação</b>
                </div>
            
                <div class="col">
                    <b>Status</b>
                </div>
            </div>
    
            <div class="row border border-1 p-2">
                <div class="col">
                    {{reservation.id}}
                </div>
    
                <div class="col">
                    {{reservation.checkIn}}
                </div>
        
                <div class="col">
                    {{reservation.checkOut}}
                </div>
        
                <div class="col" [ngClass]="
                {
                    'text-primary' : reservation.roomType == 0,
                    'text-success' : reservation.roomType == 1,
                    'text-purple' : reservation.roomType == 2
                }">
                    @if(reservation.roomType == 0)
                    {
                        Comum
                    }
        
                    @if(reservation.roomType == 1)
                    {
                        Deluxe
                    }
        
                    @if(reservation.roomType == 2)
                    {
                        Suíte
                    }
                </div>

                <div class="col">
                    {{reservation.numberOfGuests}}
                </div>
    
                <div class="col">
                    {{reservation.remarks}}
                </div>
        
                <div class="col" [ngClass]="
                    {
                        'text-danger' :  reservation.status == 'Excluído',
                        'text-orange' :  reservation.status == 'Cancelado',
                        'text-warning' : reservation.status == 'Pendente',
                        'text-success' : reservation.status == 'Confirmado'
                    }">
    
                    {{reservation.status}}
                </div>
            </div>

            <button class="row btn btn-primary me-4 mt-3" routerLink="/reservationsForm/{{reservation.id}}">
                Editar
            </button>
    
            <button class="row btn btn-danger mt-3" (click)="deleteReservation($event, reservation)">
                Deletar
            </button>
        </div>
    }
    @else
    {
        <legend class="text-center">Não existe nenhuma reserva com este ID</legend>
    }
}
<!-- Tabela completa -->
@else
{
<div class="container">
    <legend class="row">Reservas</legend>

    <div class="row pb-4">
        <input class="form-control border-1 border-primary" id="search" [type]="searchType" [(ngModel)]="searchModel">

                <div class="d-flex search-options">
                    <div class="form-check pe-3">
                        <input class="form-check-input" id="search-name" [(ngModel)]="searchOptions" type="radio" name="search" [value]="0">
                        <label class="form-check-label" for="search-name">
                          Nome
                        </label>
                    </div>
                    <div class="form-check pe-3">
                        <input class="form-check-input"  id="search-check-in" [(ngModel)]="searchOptions" type="radio" name="search" [value]="1">
                        <label class="form-check-label" for="search-check-in" >
                          CheckIn
                        </label>
                    </div>
                    <div class="form-check pe-3">
                        <input class="form-check-input" id="search-check-out" [(ngModel)]="searchOptions" type="radio" name="search"  [value]="2">
                        <label class="form-check-label" for="search-check-out" >
                          CheckOut
                        </label>
                    </div>
                    <div class="form-check pe-3">
                        <input class="form-check-input" id="room-type" [(ngModel)]="searchOptions" type="radio" name="search"  [value]="3">
                        <label class="form-check-label" for="room-type">
                          Tipo de Quarto 
                        </label>
                    </div>
                    <div class="form-check pe-3">
                        <input class="form-check-input" id="number-guests" [(ngModel)]="searchOptions" type="radio" name="search"  [value]="4">
                        <label class="form-check-label" for="number-guests" >
                          Nº de Quartos
                        </label>
                    </div>
                    <div class="form-check pe-3">
                        <input class="form-check-input" id="status" [(ngModel)]="searchOptions" type="radio" name="search"  [value]="5">
                        <label class="form-check-label" for="status"  >
                          Status
                        </label>
                    </div>


                </div>

                
    </div>
              
    <div class="row border border-1 p-2">
        <div class="col" role="button" (click)="changeOrder(1)">
           <b>Hóspede</b>
        </div>
    
        <div class="col" role="button" (click)="changeOrder(2)">
            <b>CheckIn</b>
        </div>
    
        <div class="col" role="button" (click)="changeOrder(3)">
            <b>CheckOut</b>
        </div>
    
        <div class="col" role="button" (click)="changeOrder(4)">
            <b>Tipo de Quarto</b>
        </div>

        <div class="col" role="button" (click)="changeOrder(5)">
            <b>Nº de Hóspedes</b>
        </div>
    
        <div class="col" role="button" (click)="changeOrder(6)">
            <b>Status</b>
        </div>
    
        <div class="col">
            <b>Ações</b>
        </div>
    </div>
    
    @for (reservation of customReservations; track $index) 
    {
        <div class="row row-item border border-1 p-2" role="button" routerLink="/reservations/{{reservation.id}}">
    
            @if(guestsReservations[$index])
            {
                <div class="col">
                    {{guestsReservations[$index].name}}
                </div> 
            }
            
            <div class="col">
                {{reservation.checkIn}}
            </div>
    
            <div class="col">
                {{reservation.checkOut}}
            </div>

            <div class="col" [ngClass]="
                {
                    'text-primary' : reservation.roomType == 0,
                    'text-success' : reservation.roomType == 1,
                    'text-purple' : reservation.roomType == 2
                }">
                    @if(reservation.roomType == 0)
                    {
                        Comum
                    }
        
                    @if(reservation.roomType == 1)
                    {
                        Deluxe
                    }
        
                    @if(reservation.roomType == 2)
                    {
                        Suíte
                    }
            </div>
    
            <div class="col">
                {{reservation.numberOfGuests}}
            </div>
        
            <div class="col" [ngClass]="
            {
                'text-danger' : reservation.status == 'Excluído',
                'text-orange' :  reservation.status == 'Cancelado',
                'text-warning' : reservation.status == 'Pendente',
                'text-success' : reservation.status == 'Confirmado'
            }">
                {{reservation.status}}
            </div>
    
            <div class="col action-buttons" (click)="$event.stopPropagation()" routerLink="/reservationsForm/{{reservation.id}}">
                <button class="btn text-primary">
                    <i class="bi bi-pen"></i>
                </button>
                
                <button class="btn text-danger" (click)="deleteReservation($event, reservation)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        </div>
    }
</div>
}