<form class="" id="new-guest" [formGroup]="formGroup" (ngSubmit)="submit()">
    @for (item of form; track $index) 
    {
        <div class="pt-2">
            <label [for]="item.name">{{item.label}}</label>
            
            @if(item.type == "select")
            {
                @if(item.select)
                {
                    <select class="form-select border-1 border-primary" id="exampleSelect1" >
                        @for (option of item.select; track $index) 
                        {
                            <option>{{option}}</option>
                        }
                    </select>
                }
            }
            @else 
            {

            }

            <input class="form-control border-1 border-primary" [id]="item.name" [type]="item.type" [name]="item.name" [formControlName]="item.name" [(ngModel)]="item.model">
            
            <p class="text-danger m-0" *ngIf="formGroup.get(item.name)?.invalid && formGroup.get(item.name)?.touched">
                {{item.invalid}}
            </p>
        </div>
    }
    <button class="btn btn-primary mt-2" type="submit">
        {{submitText}}
    </button>
</form>