.calculadora-simples #numero-um,
.calculadora-simples #numero-dois
{
    width:5em;
}

.calculadora-simples button
{
    width: 35px;
}

.calculadora-simples input,
.calculadora-simples h3
{
    width: 162px;
    border:1px solid black;
    border-radius: 4px;
}

.calculadora-complexa h3
{
    width: 224px;
    height: 60px;
    border:1px solid black;
    border-radius: 5px;
}
.calculadora-complexa h3 div
{
    position: relative;
    right:18px;
}

.calculadora-complexa #resultado-dois
{
    color:blue;
    font-size:14px;
}


.calculadora-complexa h3 div
{
    padding-left:10px;
}

.calculadora-complexa .btn
{
    width: 50px;
    height: 50px;
    margin: 2px;
}

.calculadora-complexa .zero
{
    width: 108px;
}

