<section class="login-component">
    <!-- Novo Registro de Usuário -->
<section class="pt-2" >
    <form [formGroup]="newRegister" (ngSubmit)="submitRegister()">
        <legend>Registrar</legend>
        <div>
            <label for="name" >Nome: </label>
            <input id="name" name="name" type="text" formControlName="name" [(ngModel)]="nameModel">

            <p *ngIf="newRegister.get('name')?.invalid && newRegister.get('name')?.touched" class="text-danger">
                Insira um nome com pelo menos 3 caracteres.
            </p>
        </div>
  
        <div>
            <label for="email" >Email: </label>
            <input id="email" name="email" type="text" formControlName="email" [(ngModel)]="emailModel">

            <p *ngIf="newRegister.get('email')?.invalid && newRegister.get('email')?.touched" class="text-danger">
                Insira um email válido.
            </p>
        </div>

          <button type="submit" [disabled]="newRegisterInvalid">Registrar</button>
    </form>
</section>
</section>